@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: hsl(218, 28%, 15%);
        overflow: hidden;
    }


    /*--TOP CONTENTS----*/


    .topWrapper,
    .mainContentsWrapper {
        display: flex;
    }

    .topWrapper {
        position: relative;
        height: 75px;
        font-family: 'Raleway', sans-serif;

    }

    .logo {
        position: absolute;
        height: 30px;
        align-self: center;
        left: 20px;
    }

    .topNav {
        position: absolute;
        color: #fff;
        padding-left: 0;
        right: 20px;
        list-style: none;
        align-self: center;
        margin: 0;

    }

    li {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        margin-right: 20px;
    }

    .signin {
        margin-right: 0;
    }

    /*--MAIN CONTENTS----*/

    .mainContentsWrapper {
        position: relative;
        height: 100%;
        justify-content: center;

    }

    .mainImage {
        position: absolute;
        height: 230px;
        top: 30px;

        
    }

    .mainBlurb {
        position: relative;
        width: 100%;
        height: 100%;
        top: 270px;
    }

    .waveImg {
        position: absolute;
        top: 260px;
        z-index: 1;       
        
    }

}